<?xml version="1.0"?>
<!--
/* Glory to Ukraine! Glory to the heros! */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="codelegacy_returntostocknotification" frontName="returntostock">
            <module 
            	name="Codelegacy_ReturnToStockNotification" 
            	before="Magento_Backend" />
        </route>
    </router>
</config>